.section1 {
    display: grid;
    grid-template-columns: 50% 50%;

    #imgInshape {
        width: 60%;
        padding: 2rem;
        opacity: 1;
        transform: translateX(200px);
        transition: 1s ease-in;
    }
}